body {
    background-color: #f5f6f8;
}

.header {
    padding: 12px 0;
    background-color: #fff;
}

.logo {
    height: 24px;
    margin-right: 18px;
}

.profile  {
    display: flex;
    font-size: 12px;
    align-items: center;
    min-width: 160px;
}

.profile-photo figure {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 4px;
}

.profile-photo .icon {
    font-size: 16px;
    color: #A7B4CC;
}

.profile > *:not(:last-child) {
    margin-right: 6px;
}

.profile-photo {
    display: flex;
    align-items: center;
}

.profile-text {
    text-align: right;
}

.profile-text span {
    font-size: 10px;
    color: var(--greenColor);
}

.search {
    height: 32px;
    width: 312px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    padding: 7px 9px;
    border-radius: 4px;
    margin-right: 68px;
}

.search .icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    color: var(--grayColor);
}

.search input {
    height: 32px;
    width: 100%;
}

.search input::placeholder {
    color: var(--grayColor);
}

.search input:focus {
    outline: none;
}

.navbar-link {
    color: var(--grayColor);
    font-size: 14px;
}

.navbar-link span {
    display: none;
}

.navbar-link.active {
    color: var(--primaryColor);
    font-weight: 500;
}

.navbar-link.active span {
    display: inline;
}

.navbar-link:not(:last-child) {
    margin-right: 32px;
}

.navbar-link .icon {
    margin-right: 6px;
    font-size: 18px;
}